/* General styling */
        body {
            font-family: Arial, sans-serif;
            margin: auto;
            padding-top: 10px;
            padding: 0;
            background-color: #1a1a2e;
            color: #fff;
            max-width: 1000px;
            
        }
        /* The side navigation menu */
        .sidebar {
            margin-top: 50px;
            padding: 0;
            width: 200px;
            background-color: #162447;
            position: fixed;
            border-radius: 20px;
            height: auto;
            overflow: auto;
        }
        /* Sidebar links */
        .sidebar a {
            display: block;
            color: #fff;
            padding: 16px;
            text-decoration: none;
        }
        /* Active/current link */
        .sidebar a.active {
            background-color: #0f3460;
            color: white;
        }
        /* Links on mouse-over */
        .sidebar a:hover:not (.active) {
            background-color: #1a1a2e;
            color: white;
        }
        /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
        div.content {
            margin-left: 200px;
            padding: 1px 16px;
            height: 1000px;
        }
        /* On screens that are less than 700px wide, make the sidebar into a topbar */
        @media screen and (max-width: 700px) {
            .sidebar {
                width: 100%;
                height: auto;
                position: relative;
            }
            .sidebar a {
                float: left;
            }
            div.content {
                margin-left: 0;
            }
        }
        /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
        @media screen and (max-width: 400px) {
            .sidebar a {
                text-align: center;
                float: none;
            }
        }
        /* The sidebar image */
        .sidebar img {
            width: 100%;
            height: auto;
        }
        .header {
            background-color: #162447;
            /*text-align: center;*/
            padding: 20px;
            border-radius: 10px;
            margin-top: 50px;
        }
        .about-me {
            display: flex;
            justify-content: space-between;
            padding: 20px;
            background-color: #FFFFFF;
            color: black;
            border-radius: 5px;
        }
        .about-me img {
            max-width: 50%;
        }
        .typing-effect {
            border-right: .15em solid black;
            white-space: nowrap;
            overflow: hidden;
            animation: typing 2s steps(40, end), blink-caret .75s step-end infinite;
        }
        @keyframes typing {
            from { width: 0 }
            to { width: 100% }
        }
        @keyframes blink-caret {
            from, to { border-color: transparent }
            50% { border-color: black }
        }
        .projects {
            display: flex;
            flex-wrap: wrap;
        }

        .project_heading {
            background-color: #162447;
            text-align: center;
            padding: 20px;
            border-radius: 10px;
            margin-top: 50px;
        }

        .project {
            flex: 1 0 21%; /* This will create a 5-column layout */
            margin: 1%;
            transition: transform .2s; /* Animation */
           
        }

        .project:hover {
            transform: scale(1.1); /* Zoom on hover */
            background-color: black;
        }
        .object1{
            width: 100%;
            height: 400px;
            
        }
        .object2{
            width: 100%;
            height: 400px;
        }